<%= simple_nested_form_for(@academy, url: (@academy.new_record? ? new_payment_payments_path : academy_path(@academy)), method: (@academy.new_record? ? :post : :put)) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-inputs">
        <%= f.input :name, required: true, placeholder: "Acedemy Name", input_html: {class: 'form-control'} %>
      </div>
    </div>
  </div>

  <%= f.fields_for :subscription do |s| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-inputs">
          <%= s.input :plan_id, collection: Plan::plan_select_options, as: :select, label: "Choose plan(price)", include_blank: false, prompt: "Select Plan", input_html: {class: 'form-control' } %>
          <%= s.input :institution_id, as: :hidden, label: false, input_html: {class: 'form-control', value: current_user.id } %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-inputs">
        <%= f.input :description, required: true, placeholder: "Enter description about Acedemy", input_html: {class: 'form-control'} %>
      </div>
    </div>
  </div>

  </br>
  
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.button :submit, (@academy.new_record? ? "Next" : "Update"), class: 'btn btn-primary', data: {disable_with: "Please Wait..."}  %>
      </div>
    </div>
  </div>
<% end %>