<%if @standard_registrations.present? %>
	<h3>Student Registraion Requests</h3>
	<table class="table table-striped table-hover">
		<thead>
			<th>
				<strong>Index</strong>
			</th>
			<th>
				<strong>Academy Name</strong>
			</th>
			<th>
				<strong>Requester Name</strong>
			</th>
			<th>
				<strong>Registration Status</strong>
			</th>
			<th>
				<strong>Action</strong>
			</th>
		</thead>
		<tbody>
			<% @standard_registrations.each_with_index do |reg, index| %>
				<tr>
					<td>
						<%= index+1 %>.
					</td>
					<td>
						<%= reg.academy.name.try(:humanize) %>
					</td>
					<td>
						<%= reg.user.full_name %>
					</td>
					<td>
						<%= reg.status %>
					</td>
					<td>
						<% if reg.status == "pending" %>
							<%= link_to "Approve", approve_registration_request_academy_path(reg), remote: true %> | 
						<% end %>
						<%= link_to "Reject", remove_registration_request_academy_path(reg), method: :delete, remote: true %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

</br>

<%if @institution_registrations.present? %>
	<h3>Moderator Registraion Requests</h3>
	<table class="table table-striped table-hover">
		<thead>
			<th>
				<strong>Index</strong>
			</th>
			<th>
				<strong>Academy Name</strong>
			</th>
			<th>
				<strong>Requester Name</strong>
			</th>
			<th>
				<strong>Registration Status</strong>
			</th>
			<th>
				<strong>Action</strong>
			</th>
		</thead>
		<tbody>
			<% @institution_registrations.each_with_index do |reg, index| %>
				<tr>
					<td>
						<%= index+1 %>.
					</td>
					<td>
						<%= reg.academy.name.try(:humanize) %>
					</td>
					<td>
						<%= reg.user.full_name %>
					</td>
					<td>
						<%= reg.status %>
					</td>
					<td>
						<% if reg.status == "pending" %>
							<%= link_to "Approve", approve_registration_request_academy_path(reg), remote: true %> | 
						<% end %>
						<%= link_to "Reject", remove_registration_request_academy_path(reg), method: :delete, remote: true %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>