<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h1>Assignment</h1>
		</div>
	</div>
	<div id="assignment_form">		
		<%= simple_nested_form_for(@assignment, url: academy_assignments_path(@academy), method: :post) do |f| %>
	    <div class="row">
	      <div class="col-md-6">
	        <div class="form-inputs">
	          <%= f.input :title, required: true, placeholder: "Assignment Name", input_html: {class: 'form-control'} %>
	        </div>
	      </div>
	    </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-inputs">
            <%= f.input :assignment_type, collection: ["Reading", "Trading","Custom"], as: :select, label: "Choose Assignment Type", include_blank: false, prompt: "Select Assignment Type", input_html: {class: 'form-control' } %>
          </div>
        </div>
      </div>
	    <div class="row">
	      <div class="col-md-6">
	        <div class="form-inputs">
	          <%= f.input :description, required: true, placeholder: "Enter description about Assignment", input_html: {class: 'form-control'} %>
	        </div>
	      </div>
	    </div>

	    <div class="row">
	      <div class="col-md-6">
	        <div class="form-inputs">
	          <%= f.input :due_date, as: :string, required: true, placeholder: "Assignment due date", input_html: {class: 'form-control datepicker'} %>
	        </div>
	      </div>
	    </div>
	  </br>
	    <div class="row">
	      <div class="col-md-3">
	        <div class="form-group">
	          <%= f.button :submit, "Confirm New Assignment", class: 'btn btn-primary', data: {disable_with: "Please Wait..."}  %>
	        </div>
	      </div>
	    </div>
	  <% end %>
	</div>		
</div>	
