<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-md-4 ">&nbsp;</div>
      <div class="col-md-4">
        <h2>Sign up</h2>
  			<%= f.error_notification %>
        <%= f.collection_radio_buttons :type, [['Standard', 'Standard'] ,['Institution', 'Institution']], :first, :last, checked: ['Standard', 'Standard'] %>
  			<div class="form-inputs">
					<%= f.input :username, required: true, autofocus: true, input_html: {class: "form-control"} %>
 				</div>
 				<div class="form-inputs">
    			<%= f.input :first_name, required: true, input_html: {class: "form-control"} %>
  			</div>
  			<div class="form-inputs">
    			<%= f.input :last_name, required: true, input_html: {class: "form-control"} %>
  			</div>
  			<div class="form-inputs">
    			<%= f.input :email, required: true, input_html: {class: "form-control"} %>
 				</div>
 				<div class="form-inputs">
    			<%= f.input :city, required: true, input_html: {class: "form-control"} %>
 				</div>
 				<div class="form-inputs">
    			<%= f.input :state, required: true, input_html: {class: "form-control"} %>
 				</div>
  			<div class="form-inputs">
    			<%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: {class: "form-control"} %>
 				</div>
  			<div class="form-inputs">
    			<%= f.input :password_confirmation, required: true, input_html: {class: "form-control"} %>
 				</div>
			  <div class="form-actions">
			    <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
			  </div>
				<%= render "devise/shared/links" %>
			</div>
		</div>
	<% end %>
</div>

