<div class="container">
	<div class="row">
		<div class="col-md-2 pull-right">
			<%= link_to "New Academy", new_academy_path, class: "btn btn-primary" %>
		</div>
	</div>
	<% if @owned_academies.present? %>
		<div class="own_academies">
			<div class="row">
				<div class="col-md-6">
					<h3><strong>Owned Academies</strong></h3>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<th>Index</th>
					<th>Academy Name</th>
					<th>Status</th>
				</thead>
				<tbody>
					<% @owned_academies.each_with_index do |academy, index| %>
						<tr>
							<td><%= index+1 %>.</td>
							<td><%= link_to academy.name, "javascript:void(0)" %></td>
							<td><%= "Owner" %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>

	<% if @mod_academies.present? %>
		<div class="moderate_academies">
			<div class="row">
				<div class="col-md-6">
					<h3><strong>Moderated Academy</strong></h3>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<th>Index</th>
					<th>Academy Name</th>
					<th>Status</th>
				</thead>
				<tbody>
					<% @mod_academies.each_with_index do |academy, index| %>
						<tr>
							<td><%= index+1 %>.</td>
							<td><%= link_to academy.name, "javascript:void(0)" %></td>
							<td><%= "Moderator" %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>

	<% if @student_requests.present? %>
		<div class="student_requests">
			<div class="row">
				<div class="col-md-6">
					<h3><strong>User Requests</strong></h3>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<th>Index</th>
					<th>Academy Name</th>
					<th>User Name</th>
					<th>Action</th>
				</thead>
				<tbody>
					<% @student_requests.each_with_index do |request, index| %>
						<tr>
							<td><%= index+1 %>.</td>
							<td><%= request.academy.name %></td>
							<td><%= request.user.full_name %></td>
							<td><%= link_to "Accept", approve_registration_request_academy_path(reg), remote: true  %> | <%= link_to "Decline", remove_registration_request_academy_path(reg), method: :delete, remote: true %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>

	<% if @moderator_requests.present? %>
		<div class="moderator_requests">
			<div class="row">
				<div class="col-md-6">
					<h3><strong>Moderator Requests</strong></h3>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<th>Index</th>
					<th>Academy Name</th>
					<th>User Name</th>
					<th>Action</th>
				</thead>
				<tbody>
					<% @moderator_requests.each_with_index do |request, index| %>
						<tr>
							<td><%= index+1 %>.</td>
							<td><%= request.academy.name %></td>
							<td><%= request.user.full_name %></td>
							<td><%= link_to "Accept", approve_registration_request_academy_path(reg), remote: true  %> | <%= link_to "Decline", remove_registration_request_academy_path(reg), method: :delete, remote: true %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>

	<% if @assignments.present? %>
		<div class="assignments">
			<div class="row">
				<div class="col-md-6">
					<h3><strong>Assignments as Owner</strong></h3>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<th>Index</th>
					<th>Assignment Title</th>
					<th>Academy Name</th>
					<th>Assignment completion count</th>
					<th>Assignment not completion count</th>
				</thead>
				<tbody>
					<% @assignments.each_with_index do |assignment, index| %>
						<tr>
							<td><%= index+1 %>.</td>
							<td><%= assignment.title %></td>
							<td><%= assignment.academy.name %></td>
							<td><%= 0 %></td>
							<td><%= 0 %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>

	<% if @moderator_assignments.present? %>
		<div class="moderator_assignments">
			<div class="row">
				<div class="col-md-6">
					<h3><strong>Assignment as Moderator</strong></h3>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<th>Index</th>
					<th>Assignment Title</th>
					<th>Academy Name</th>
					<th>Assignment completion count</th>
					<th>Assignment not completion count</th>
				</thead>
				<tbody>
					<% @moderator_assignments.each_with_index do |assignment, index| %>
						<tr>
							<td><%= index+1 %>.</td>
							<td><%= assignment.title %></td>
							<td><%= assignment.academy.name %></td>
							<td><%= 0 %></td>
							<td><%= 0 %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>
</div>