<div class="row">
	<div class="col-md-4">
		<h2><strong><%= @active_portfolio.name.titleize %></strong></h2>
	</div>
</div>

<div class="row">
	<table class="table table-striped table-hover">
		<thead>
			<th>Company</th>
			<th>Live Price</th>
			<th>Quantity</th>
			<th>Inv. Price</th>
			<th>Inv. Amount</th>
			<th>Inv. Date</th>
			<th>Latest Value</th>
			<th>Overall Gain</th>
		</thead>
		<tbody>
			<% @data.each_with_index do |purchase, index| %>
				<tr>
					<td><%= link_to purchase[:company_name], company_path(purchase[:company_id]) %></td>
					<td><%= purchase[:live_price] %></td>
					<td><%= purchase[:quantity] %></td>
					<td><%= purchase[:inv_price] %></td>
					<td><%= purchase[:inv_amount] %></td>
					<td><%= purchase[:inv_date] %></td>
					<td><%= purchase[:lat_value] %></td>
					<td><%= purchase[:overall_gain] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<% if @portfolios.present? %>
	<hr>
	<br>
	<h2><strong>Other Portfolios</strong></h2>
	<div class="row">
		<table class="table table-striped table-hover">
			<thead>
				<th>Portfolio Name</th>
				<th>Balance</th>
				<th>Is Active</th>
			</thead>
			<tbody>
				<% @portfolios.each do |port| %>
					<tr>
						<td><%= port.name %></td>
						<td><%= port.balance %></td>
						<td><%= port.active %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>