<% if current_user.first_name.present?%>
  <li>
    <%= link_to "Portfolio", portfolios_path %>
  </li>
  <li>
    <%= link_to "Company", companies_path %>
  </li>
  <li>
    <%= link_to "Learning Lounge", articles_path %>
  </li>
  <li>
    <%= link_to "Academies", academies_path %>
  </li>
<% end %>

<li>
  <%= link_to "SignOut", destroy_user_session_path, method: :delete %>
</li>