<% if @company.present? %>
	<div class="row">
		<strong>Company Name</strong> : <%= @company.name %>
	</div>
	<div class="row">
		<strong>city</strong> : <%= @company.city %>
	</div>
	<div class="row">
		<strong>State</strong> : <%= @company.state %>
	</div>
	<div class="row">
		<strong>Description</strong> : <%= @company.description %>
	</div>
<% end %>
<h2><strong> Last 10 working days company details</strong></h2>

<table class="table table-striped table-hover">
	<thead>
		<% @company_details["column_names"].each do |column| %>
			<th><%= column %></th>
		<% end %>
	</thead>
	<tbody>
		<% @company_details["data"].each do |data| %>
			<tr>
			  <% data.each do |d| %>
				  <td><%= d %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>