<div class="container">
	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  	<div class="row">
			<div class="col-md-4 ">&nbsp;</div>
			<div class="col-md-4">
				<h2>Log in</h2>
	  		<div class="form-inputs">
    			<%= f.input :login, required: true, autofocus: true, input_html: {class: "form-control"} %>
  			</div>
  			<div class="form-inputs">
			    <%= f.input :password, required: false, input_html: {class: "form-control"} %>
  			</div>
  			<div class="form-inputs col-xs-offset-1">
    			<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  			</div>
  			<div class="form-actions">
			    <%= f.button :submit, "Log in", class: "btn btn-primary"  %>
			  </div>
			  <%= render "devise/shared/links" %>
			</div>
		</div>
	<% end %>
</div>
