<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h1>Sale Your Shares</h1>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<% if @portfolio.present? %>
		<%= form_tag sale_shares_sales_path do %>
			<div class="row">
				<div class="col-md-3">
					<div class="form-inputs">
						<%= select_tag :company, options_for_select(@companies), prompt: "Select Company", id: "company_change", class: "form-control" %>
					</div>
				</div>
				<div id="share_select" class="col-md-3">
					<%= render "share_select", options: [] %>
				</div>
				<div class="col-md-3">
					<%= submit_tag "Sold", class: "btn btn-primary" %>
				</div>
			</div>
		<%end%> 
	<%end%>
	<div id="sales_contents">		
		<%= render "sales_contents" %>
	</div>
</div>		